<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/3133c2d432.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li class="navigation"><a href="/"><i class="fa-solid fa-house"></i>Day</a></li>
                    <li class="navigation"><a href="/week"><i class="fa-solid fa-calendar-days"></i>Week</a></li>
                </ul>
            </nav>
        </div>
        <div class="h1-container">
            <div class="sheesh">
                <h1>
                    <%= date %>
                </h1>
            </div>
        </div>
    </header>
</body>
</html>